{% extends 'shop/basic.html' %} {% block title%} About Us{% endblock %} {% block body %} {% load static %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Gourav Vashistha </h1>
            <p>" I am Creative web Designer and programer. I graduated with my degree in Enginering two months ago. I chose that field of study because I’ve always been interested in coding, and a couple of family members told me it leads to great career
                options, too. am a graduate in Btech in Computer Science, in J.C.Bose University of Science & Technology ,YMCA . During my Graduation i learnt a bunch of Technologies which falls under the categories of Web Development . First I learned
                the front-end Web Development followed by the Back- end. I made so many Flat-UI Design Landing Pages and some Fully functional Web Applications . My Stack comprises of: Typescript, Express, MongoDB, Django and advanced topics in front-end
                like Sass, Flex box, Bootstrap etc. Being aware of the cutting edge technologies, I started learning Machine-Learning inside ML I studied Statistics, Linear Algebra, Calculas, Probability, Linear Regression, Logistic Regression, Support
                Vector Machine, PCA, KNN, K-means and Artificial Neural Network including the CNN . I have successfully Implemented various pre-trained Models like YOLO in real World Application. I identify myself as an enthusiast of Technology . It makes
                me happy being on the path of learning Something, So that's some of the things I want to share here. Thank you for reading.”</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Python</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Devlopment</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>software Devlopment</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>Machine Learning</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>Data Science</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>Django</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>Artificial Intelligence</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>C Programming</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>C++ Programming</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>Java Basic</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Image Editing</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Video Editing</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>MS Excel</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

            <div class="col-md-4">
                <h2>MS Word</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>

        </div>

        <hr>

    </div>
    <!-- /container -->

    <section id="works" class="work">
        <div class="container">
            <h1 class="section-heading"><span>Our</span> Works</h1>
            <p>We provide high standard clean Website and Software for your Busines solution</p>

            <div class="card-wrapper">
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/ph-1.png' %}">
                </div>
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/ph-2.png' %}">
                </div>
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/ph-3.png' %}">
                </div>
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/article-ph-2.png' %}">
                </div>
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/article-ph-1.png' %}">
                </div>
                <div class="card">
                    <div class="overlay">
                        <span>Category</span>
                        <a href="#">Web Devlopment</a>
                    </div>
                    <img src="{% static 'img/article-ph-3.png' %}">
                </div>
            </div>

        </div>
    </section>








</main>

{% endblock %}